<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Fathername:</strong>
  <%= @profile.fathername %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @profile.relation %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |

<%= link_to 'Back', user_path(@profile.User) %>

<%= link_to 'Back', user_path(@profile.user_id) %>

