
<p id="notice"><%= notice %></p>
<p>
	<% if @user.email %>
<% authent1 = Authorization.find_by_user_id(@user.id)%>
	<% unless authent1 %>
  <%= gravatar(@user) %>
  <% else %>
  <% imgurl ='http://graph.facebook.com/' + authent1.uid + '/picture?type=normal' %>
  <%= image_tag(imgurl) %>
  <% end %>
  <strong>Email:</strong>
  <%= @user.email %> | <%= link_to 'Edit Account', edit_user_path(@user) %>
</p>
<%end %>
<% tester = false %>
<% @user.profiles.each do |p| %>
<% if p.relation == "Self" %>
<strong>Name: </strong>
<%=  p.firstname + " " + p.fathername + " " + p.lastname %> 
        <% if @user == current_user %>
        &nbsp;&nbsp;  ---    <%= link_to 'Edit', edit_profile_path(p) %>
        <% end %>
<% tester = true %>
<% end %>
<% end %>
<% if tester == false && @user == current_user %>
<%= link_to 'Complete Your Profile', new_profile_path(:user_id => @user.id, :relation => "Self") %>
<% end %>
<br/><br/>
<h4> Family:</h4>
<% @user.profiles.each do |p| %>
<% unless p.relation == "Self" %>
<strong> <%= p.relation + ": " %> </strong>
<%=p.firstname + " " + p.fathername + " " + p.lastname %>
<% if @user == current_user %>
 &nbsp;&nbsp; ---  <%= link_to 'Edit', edit_profile_path(p) %> | <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
 <% end %><br/>
<% end %>
<% end %>
<% if @user == current_user %>
<br/>
<%= link_to 'Add Family Members', new_profile_path(:user_id => @user.id) %>
<% end %>

<% if current_user==@user %> 
<div id="friends">
<p><% link_to "Invite Your Friends", "#", :id=> "invite_fb_friends" %></p>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
$(function(){
  $(a#invite_fb_friends).click(function(){
    FB.init({
      appId: '786610081354504',
      cookie: false,
      status: true
    });
    FB.ui({method: "apprequests", message: "Try out this Shajarah App"
    });
  });
});</script>
</div>
<% end %>
