
<p id="notice"><%= notice %></p>
<p>
	<% if @user.email %>
  <%= gravatar(@user) %>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%end %>
<% @user.profiles.each do |p| %>
<% if p.relation == "Self" %>
<%= "Name: " + p.firstname + " " + p.fathername + " " + p.lastname %>
<% else %>
<%= link_to 'Complete Your Profile', new_profile_path(:user_id => @user.id, :relation => "Self") %>
<% end %>
<% end %>





