
<p id="notice"><%= notice %></p>
<p>
	<% if @user.email %>
  <%= gravatar(@user) %>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<%end %>
<% tester = false %>
<% @user.profiles.each do |p| %>
<% if p.relation == "Self" %>
<strong>Name: </strong>
<%=  p.firstname + " " + p.fathername + " " + p.lastname %>
<% tester = true %>
<% end %>
<% end %>
<% if tester == false %>
<%= link_to 'Complete Your Profile', new_profile_path(:user_id => @user.id, :relation => "Self") %>
<% end %>
<strong> Family:</strong><br/>
<% @user.profiles.each do |p| %>
<%= p.relation + ": " + p.firstname + " " + p.fathername + " " + p.lastname %>  |  <%= link_to 'Edit', edit_profile_path(profile) %> | <%= link_to 'Delete', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>



